.table {
  width: 100%;
  max-width: 500px;
  margin: auto;
  margin-bottom: 1rem;
  background-color: transparent;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 0.5rem;
  vertical-align: top;
  border: 1px solid #dee2e6;
  text-align: center;
}

.table td:first-child:hover {
  background-color: whitesmoke;
  cursor: pointer;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.table tbody + tbody {
  border-top: 2px solid #dee2e6;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
}
